<html>
<app-header></app-header>
<body>
  <div>
    <mat-toolbar class="title">
      <span>Plastic Water Bottle</span>
    </mat-toolbar>
  </div>
  <div style="width:1000px;">
    <div style="width:400px; float:left;" class="description">
      <h5>How to recycle the product</h5>
      <ol type="1">
        <li>Items must be clean and dry before being placed loosly in the bin.</li>
        <li>There is no need to remove the labels since this will happen during the recycling process.</li>
        <li>You can also remove the lid, squash the bottle and return the lid before placing into the bin.</li>
      </ol>
    </div>
  </div>
</body>
<app-footer></app-footer>
</html>