<!-- header/nav bar -- persistant-->
<app-header></app-header>
<section class="container">
  <div class="row">
    <div class="col-sm">
      <img src="../../../assets/bottle2.JPG" class="img-fluid image" alt="Responsive image">
    </div>
    <div class="col-sm description">
      <h5>How to recycle the product</h5>
      <ol type="1">
        <li>Items must be clean and dry before being placed loosly in the bin.</li>
        <li>There is no need to remove the labels since this will happen during the recycling process.</li>
        <li>You can also remove the lid, squash the bottle and return the lid before placing into the bin.</li>
      </ol>
    </div>
  </div>
</section>
<app-footer></app-footer>