<div style="background-color: gray;">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" href="#">Home</a></mdb-navbar-brand>
    <a class="nav-link waves-light" mdbWavesEffect>
      <mdb-icon fas icon="envelope"></mdb-icon> About
    </a>
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="https://enactus.org/">
            <img src="https://enactus.s3.amazonaws.com/assets/enactus-org/large/home-logo.png" width="100" height="40">
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</div>