<app-header></app-header>
<section class="mat-typography">
  <div class="mat-typography">
    <div class="container">
      <div class="card-deck" style="padding-top: 5%;">
        <div style="padding-right: 5%; padding-bottom: 5%;">
        <mat-card class="example-card">
          <img mat-card-image src="../../../assets/plasticBottle.jpg" alt="Photo of plastic bottles">
          <mat-card-title class="title">Plastic Water Bottle</mat-card-title>
          <mat-card-actions>
            <button class="btn button" routerLink="/WaterBottle">Recycle me</button>
          </mat-card-actions>
        </mat-card>
        </div>
        <div style="padding-right: 5%; padding-bottom: 5%;">
         <mat-card class="example-card">
          <img mat-card-image src="../../../assets/coffee.jpg" alt="Photo of coffee cups" style="height: 200px;">
          <mat-card-title class="title">Coffee Cup</mat-card-title>
          <mat-card-actions>
            <button class="btn button" routerLink="/CoffeeCup">Recycle me</button>
          </mat-card-actions>
        </mat-card>
        </div>
        <div style="padding-bottom: 5%;">
        <mat-card class="example-card">
          <img mat-card-image src="../../../assets/cans.jpg" alt="Photo of a Shiba Inu">
          <mat-card-title class="title">Beverage Cans</mat-card-title>
          <mat-card-actions>
            <button class="btn button" routerLink="/Can">Recycle me</button>
          </mat-card-actions>
        </mat-card>
        </div>
        <div style="padding-right: 5%; padding-bottom: 5%;">
          <mat-card class="example-card">
            <img mat-card-image src="../../../assets/cans.jpg" alt="Photo of a Shiba Inu">
            <mat-card-title class="title">Beverage Cans</mat-card-title>
            <mat-card-actions>
              <button class="btn button" routerLink="/Can">Recycle me</button>
            </mat-card-actions>
          </mat-card>
          </div>
          <div style="padding-bottom: 20%;">
            <mat-card class="example-card">
              <img mat-card-image src="../../../assets/cans.jpg" alt="Photo of a Shiba Inu">
              <mat-card-title class="title">Beverage Cans</mat-card-title>
              <mat-card-actions>
                <button class="btn button" routerLink="/Can">Recycle me</button>
              </mat-card-actions>
            </mat-card>
            </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>