<html>
<app-header></app-header>

<body>
  <div>
    <mat-toolbar class="title">
      <span>Plastic Water Bottle</span>
    </mat-toolbar>
  </div>
  <div style="width:1000px;">
    <div style="width:400px; float:left;" class="description">
      <h5>How to correctly recycle</h5>
      <ol type="1">
        <li>Take label off</li>
        <li>Wash package</li>
        <li>Dry package before placing in recycling bin</li>
      </ol>
    </div>
    <div style="width:300px; float:right;">
      <img src="../../../assets/plastic-bottle.png" class="image">
    </div>
  </div>
</body>
<app-footer></app-footer>

</html>