<html>
<app-header></app-header>
<head>
  <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
<style>
body {
  font-family: 'Oxanium', serif;
}
</style>
</head>
<body>
  <div>
    <mat-toolbar class="title">
      <span>Plastic Water Bottle</span>
    </mat-toolbar>
  </div>
  <div style="float:left;">
    <img src="../../../assets/d-2.JPG" class="d2">
  </div>
  <div style="width:1000px;">
    <div style="width:400px; float:left;" class="description">
      <h5>How to correctly recycle</h5>
      <ol type="1">
        <li>Take label off</li>
        <li>Wash package</li>
        <li>Dry package before placing in recycling bin</li>
      </ol>
    </div>
    <div style="width:300px; float:right;">
      <img src="../../../assets/bottlePic.JPG" class="image">
    </div>
    <div style="float:left;">
      <img src="../../../assets/d-3.JPG" class="d3">
    </div>
  </div>
</body>
<app-footer></app-footer>
</html>