<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <span class="navbar-brand mb-0 h1">Navbar</span>
</nav>
<div class="card-deck" style="padding-top: 5%;">
  <div class="card card border-primary">
    <img src="https://www.parkrapidsenterprise.com/incoming/4724837-jveowd-101919.OP.PRE.RecyclingBins.jpg/alternates/BASE_LANDSCAPE/101919.OP.PRE.RecyclingBins.jpg"
     class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Plastics</h5>
      <p class="card-text">This is about recycling plastic.</p>
      <button class="btn btn-primary">Go somewhere</button>
    </div>
  </div>
  <div class="card card border-primary">
    <img src="https://www.parkrapidsenterprise.com/incoming/4724837-jveowd-101919.OP.PRE.RecyclingBins.jpg/alternates/BASE_LANDSCAPE/101919.OP.PRE.RecyclingBins.jpg" 
    class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Glass</h5>
      <p class="card-text">This is about recycling glass.</p>
      <button href="#" class="btn btn-primary">Go somewhere</button>
    </div>
  </div>
  <div class="card card border-primary">
    <img src="https://www.parkrapidsenterprise.com/incoming/4724837-jveowd-101919.OP.PRE.RecyclingBins.jpg/alternates/BASE_LANDSCAPE/101919.OP.PRE.RecyclingBins.jpg" 
    class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cardboard</h5>
      <p class="card-text">This is about recycling cardboard.</p>
      <button href="#" class="btn btn-primary">Go somewhere</button>
    </div>
  </div>
</div>