<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <div>Competition!</div>
            <!-- Email form-->
            <form>
                <div class="field">
                  <input type="email" name="email" class="input" placeholder="Your Email" [(ngModel)]="emailValue">
                </div>
                <button type="submit" class="button is-danger is-large" (click)="sumbit()">Submit</button>
            </form>

        </div>
    </div>
</section>


