<!-- header/nav bar -- persistant-->
<app-header></app-header>
<footer class="title">
  <div class="footer-copyright text-center py-3">Coffee Cup</div>
</footer>
<section class="container">
  <div class="row">
    <div class="col-sm">
      <img src="../../../assets/coffeecup.JPG" class="img-fluid image" alt="Responsive image">
    </div>
    <div class="col-sm where">
      <h5>Where to recycle this product</h5>
        <p>????</p>
    </div>
    <div class="col-sm how">
      <h5>How to recycle this product</h5>
      <ol type="1">
        <li>????</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm" style="color: #fdcdcb;">
     <label>dg</label>
    </div>
    <div class="col-sm" style="margin-bottom: 18%;">
      <app-competition></app-competition>
    </div>
  </div>
</section>
<app-footer></app-footer>