/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #e9a685; }


/** BK - Using prebuilt themes could save lots of time on css and styling **/

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */